<div class="container">
  <img src='https://res.cloudinary.com/drcolkwyx/image/upload/v1528754859/second_glrl2y.png' style='width:100%;' alt="">

  <a class="first-btn" href="https://tinder-analytics.myshopify.com/products/1-city"></a>
  <a class="second-btn" href="https://tinder-analytics.myshopify.com/products/continent-5-cities"></a>
  <a class="third-btn" href="https://tinder-analytics.myshopify.com/products/world-20-cities"></a>

  <button class="btn" style="top:55.3%; color:#343233; background-color:transparent;">↑ Click on a plan ↑ </button>
</div>


<style>

.first-btn {
    width: 180px;
    height: 310px;
    margin: 10px;
    padding: 70px;
    position: absolute;
    top: 42%;
    left: 1%;
    cursor: pointer;
}

.second-btn {
    width: 180px;
    height: 310px;
    margin: 0px;
    padding: 60px;
    position: absolute;
    top: 42%;
    left: 35%;
    cursor: pointer;
}

.third-btn {
    width: 180px;
    height: 310px;
    margin: 10px;
    padding: 50px;
    position: absolute;
    top: 42%;
    left: 67%;
    cursor: pointer;
}

.container {
  background-color:#333133;
  position: relative;
  width: 100%;
}

.container .btn {
  position: absolute;
  top: 24%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #FF565D;
  color: white;
  padding: 10px 50px;
  border: none;
  cursor: pointer;
  font-weight: 200;
  font-size: 5vw;
  min-width: 400px;
  border-radius: 50px;
  white-space: nowrap;
}

.container .btn:hover {
  background-color: #EC2F35;
}

body{
  margin: 0px;
}

</style>
